body{
    background: url('images/bg.jpg') rgba(0,0,0,0.3);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.dropdown-menu{
	background-color: rgba(0,0,0,0.3) !important;
	--bs-dropdown-link-active-bg: rgba(255,255,255,0.3) !important;
}
@media (max-width: 991px){
    .sidebar{
        background-color: rgba(0,0,0,0.15) !important;
        backdrop-filter: blur(10px);
    }
	
    body{
        padding: 0 20px 0;
    }
}

.img-logo{
    height: 100px;
    width: 100px;
}
.header-container .row{
    display: flex;
    margin-top: 60px;
    height: 50vh;
}
.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30%;
    overflow: hidden;
}
.img1{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text-container p{
    color: rgb(222, 226, 230) !important
}
.btn-container{
    display: flex;
    justify-content: end;
    margin-top: 20px;
}
.modal-content{
    background-color: rgba(33, 37, 41,0.5) !important;
    color: rgb(222, 226, 230) !important;
    backdrop-filter: blur(10px);
}
.modal-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.modal-head{
    display: flex;
    justify-content: end;
    width: 100%;
}

/* card animation */
.card {
	position: relative;
	width: 300px;
    background-color: rgba(33, 37, 41,0) !important;
    border: 0 !important;
}
/* card border layout */
@property --angle{
	syntax: "<angle>";
	initial-value: 0deg;
	inherits: false;
}
.card::after, .card::before {
	content:'';
	position: absolute;
	height: 100%;
	width: 100%;
	background-image: conic-gradient(from var(--angle),#119CFDFF, #A100FFFF , #119CFDFF);
	top: 50%;
	left: 50%;
	z-index: -1;
	translate: -50% -50%;
	padding: 3px;
	border-radius: 30px;
	animation: 3s spin linear infinite;
}
.card::before{
	filter: blur(1.5rem);
	opacity: 0.5;
}
@keyframes spin {
	from{
		--angle: 0deg;
	}
	to{
		--angle: 360deg;
	}
}

.card .card-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 40px 15px 40px 15px;
	margin: 3px;
	background: #1d1c1c;
	opacity: 0;
	border-radius: 30px;
	animation: bump-in 0.5s 0.8s forwards;
}
.card .card-content .avatar {
	width: 120px;
	height: 120px;
	margin-bottom: 10px;
	opacity: 0;
	transform: scale(0.6);
	border: 3px solid #1d1c1c;
	border-right-color: #A100FFFF;
	border-bottom-color: #119CFDFF;
	/* border-top-color: #119CFDFF; */
	border-radius: 50%;
	padding: 10px;
	animation: bump-in 0.5s 1s forwards;
}
.card .card-content .username {
	position: relative;
	font-size: 25px;
	margin: 0;
	color: transparent;
	line-height: 40px;
	animation: fill-text-white 1.2s 2s forwards;
}

.card .card-content .username::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: black;
	background: rgba(255, 255, 255,0.15);
	transform: scaleX(0);
	transform-origin: left;
	border-radius: 20px;
	animation: slide-in-out 1.2s 1.2s cubic-bezier(0.75, 0, 0, 1) forwards;
}
.card .card-content .designation {
	position: relative;
	line-height: 40px;
	font-size: 17px;
	margin: 0;
	color: transparent;
	background: #584ffe;
	padding: 0 10px 0 10px;
	border-radius: 30px;
	margin: 6px 0 6px 0;
	animation: fill-text-white 1.2s 2s forwards;
}
.card .card-content .designation::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: black;
	background: rgba(255, 255, 255,0.15);
	border-radius: 20px;
	transform: scaleX(0);
	transform-origin: left;
	animation: slide-in-out 1.2s 1.2s cubic-bezier(0.75, 0, 0, 1) backwards;
}
.card .card-content .bio {
	position: relative;
	line-height: 25px;
	font-size: 14px;
	margin: 0;
	color: transparent;
	animation: fill-text-white 1.2s 2s forwards;
	margin: 6px 0 7px 0;
}
.card .card-content .bio::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: black;
	background: rgba(255, 255, 255,0.15);
	border-radius: 20px;
	transform: scaleX(0);
	transform-origin: left;
	animation: slide-in-out 1.2s 1.2s cubic-bezier(0.75, 0, 0, 1) forwards;
}
.card .card-content .social-icons {
	display: flex;
	margin-top: 15px;
}
.card .card-content .social-icons .social-icon {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center; 
	width: 2.5em;
	height: 2.5em;
	margin: 0 15px;
	border-radius: 50%;
	text-decoration: none;
}
.card .card-content .social-icons .social-icon:nth-child(1)::before {
	animation-delay: 2.1s;
}
.card .card-content .social-icons .social-icon:nth-child(1)::after {
	animation-delay: 2.2s;
}
.card .card-content .social-icons .social-icon:nth-child(1) i {
	animation-delay: 2.3s;
}
.card .card-content .social-icons .social-icon:nth-child(2)::before {
	animation-delay: 2.2s;
}
.card .card-content .social-icons .social-icon:nth-child(2)::after {
	animation-delay: 2.3s;
}
.card .card-content .social-icons .social-icon:nth-child(2) i {
	animation-delay: 2.4s;
}
.card .card-content .social-icons .social-icon:nth-child(3)::before {
	animation-delay: 2.3s;
}
.card .card-content .social-icons .social-icon:nth-child(3)::after {
	animation-delay: 2.4s;
}
.card .card-content .social-icons .social-icon:nth-child(3) i {
	animation-delay: 2.5s;
}
.card .card-content .social-icons .social-icon::before, .card .card-content .social-icons .social-icon::after {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: inherit;
	transform: scale(0);
}
.card .card-content .social-icons .social-icon::before {
	background: #f7f1e3;
	animation: scale-in 0.5s cubic-bezier(0.75, 0, 0, 1) forwards;
}
.card .card-content .social-icons .social-icon::after {
	background: #fff;
	animation: scale-in 0.5s cubic-bezier(0.75, 0, 0, 1) forwards;
}
.card .card-content .social-icons .social-icon i {
	z-index: 1;
	transform: scale(0);
	animation: scale-in 0.5s cubic-bezier(0.75, 0, 0, 1) forwards;
	color: #584ffe;
	font-size: 20px;
	font-weight: 600;
}

@keyframes bump-in {
  50% {
    transform: scale(1.05);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes slide-in-horizontal {
  50% {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
@keyframes slide-in-horizontal-reverse {
  50% {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes slide-in-vertical {
  50% {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}
@keyframes slide-in-vertical-reverse {
  50% {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}
@keyframes slide-in-out {
  50% {
    transform: scaleX(1);
    transform-origin: left;
  }
  50.1% {
    transform-origin: right;
  }
  100% {
    transform: scaleX(0);
    transform-origin: right;
  }
}
@keyframes fill-text-white {
  to {
    color: white;
  }
}
@keyframes scale-in {
  to {
    transform: scale(1);
  }
}